@model DoctorPatient.Models.EditUserViewModel

@{
    ViewBag.Title = "My Appointments";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.Label("Delete Account")
        </dt>
        <dd>
            @Html.ActionLink("Click Here to Delete", "Delete", new { id = Model.UserName })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Appointments)
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>Doctor's Name</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
                @foreach (var item in Model.Appointments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { Controller = "Appointment", Action = "Edit", id = item.AppointmentID }) |
                            @Html.ActionLink("Details", "Details", new { Controller = "Appointment", Action = "Details", id = item.AppointmentID }) |
                            @Html.ActionLink("Delete", "Delete", new { Controller = "Appointment", Action = "Details", id = item.AppointmentID })
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @*Use the browser's internal history. Otherwise Redirectin to all Appointments*@
    <a href="javascript:void(0);" onclick="history.go(-1);">Go Back</a>
</p>
